<h1>Email Stats</h1>

Sent Emails <%= @sent %><br>
Clicked Emails <%= @clicked %><br>
Opened Emails <%= @opened %><br>
<br>
<% @email_types.each do |type| %>
  <%= "#{type.name} open rate: #{rate_to_percent(type.opened_rate)}" %>
  <br>
  <%= "#{type.name} click rate: #{rate_to_percent(type.click_rate)}" %>
  <br><br>
<% end %>
